<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <button class="checklist-leaf-node tree-row" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
            (change)="checklistSelection.toggle(node);" draggable="true" (dragstart)="handleDragStart($event, node);"
            (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
            (dragend)="handleDragEnd($event);" class="tree-row" mat-icon-button
            [ngStyle]="{'padding-left': (node.level) * 10 + 15 + 'px'}">
            <img class="file-type-icon" [src]="renderIcon(node.name)" alt="file-type">
            <div>{{node.name}}</div>
        </button>
    </mat-tree-node>

    <mat-tree-node (contextmenu)="openContextMenu($event, node)" *matTreeNodeDef="let node; when: isDirectory">
        <button [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
        'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
        'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}" draggable="true"
            (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
            (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);" class="tree-row" mat-icon-button
            matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename"
            [ngStyle]="{'padding-left': (node.level) * 10 + 15 + 'px'}">
            <img class="chevron-icon" src="{{treeControl.isExpanded(node) ? 'assets/icons/chevron-right.png' : 'assets/icons/chevron-down.png'}}" alt="chevron">
            <div>
                {{node.name}}
            </div>
        </button>
    </mat-tree-node>
</mat-tree>

<span #emptyItem></span>