@import "../../../styles.scss";

.interactive-list {
  min-height: 60px;
  overflow: hidden;
  display: block;
}

.tree-row {
  width: 100%;
  height: 20px;
  font-family: sans-serif;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  background-color: transparent;
  border: 0;
  z-index: 2;
  cursor: pointer;

  div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .file-type-icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.025);
  }
}

.mat-mdc-button-touch-target {
  background-color: red;
  pointer-events: none !important;
  display: none !important;
}

.cdk-drag-preview {
  height: 12px !important;
  width: auto !important;
  border-radius: 12px;
  background-color: $blue55;
  padding: 0px 5px;
  border: 1px solid $blue50;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background-color: rgba(255, 255, 255, 0.025);
}

.mat-mdc-icon-button {
  border-radius: 0;
}

.mat-tree-node {
  color: white;
  user-select: none;
  cursor: move;
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.chevron-icon {
  width: 12px;
  height: 12px;
  filter: $inverted-color;
  opacity: 0.8;
  margin: 0 3px;
}

.opened {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.focused {
  background-color: $blue55 !important;
  outline: 1px solid #007ad385;
  outline-offset: -1px;
}

.list-component {
  z-index: 10;
}

.click-overflow {
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.click-overflow-visible {
  display: block;
}

.workspace-container {
  z-index: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
}

.workspace-label {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.workspace-tree {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100% !important;
  z-index: 1;
  background-color: transparent !important;
}

.dragging-over {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.changing-name {
  border: none !important;

  input {
    position: absolute;
    right: 0;
    background-color: transparent;
    outline: none;
    border: 1px solid $blue50;
    color: rgba(255, 255, 255, 0.8);
  }
}

.context-menu {
  width: 300px;
  background-color: $grey05;
  backdrop-filter: blur(20px);
  padding: 4px;
  font-size: 10pt;
  z-index: 1000;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  animation: fadeIn 0.3s ease-out;
  opacity: 1;
  display: block;
}

.context-menu hr {
  border: none;
  border-bottom: 1px solid #eee;
}

.context-menu div {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.25em 0.75em 0.25em 0.75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.context-menu div:hover {
  background-color: $blue50;
  border-radius: 5px;
}

/* Animatinons */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.is-fadingIn {
  -webkit-animation: fadeIn 0.1s ease-out;
  animation: fadeIn 0.1s ease-out;
  opacity: 1;
  display: block;
}

.is-fadingOut {
  -webkit-animation: fadeOut 0.1s ease-out;
  animation: fadeOut 0.1s ease-out;
  opacity: 0;
  display: block;
}
